shiny
ipykernel
palmerpenguins
plotnine
shinylive
jupyter
statsmodels
scikit-learn
pandas
seaborn
matplotlib
chatlas
querychat @ git+https://github.com/posit-dev/querychat
great_tables
orbitalml
pins
pointblank
vetiver
streamlit
dash
dash-mantine-components
plotly
